In [3]:
import pandas as pd
Iris=pd.read_csv('new.csv')
Iris.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
y=Iris[['sqft_lot15']]

In [6]:
x=Iris[['bathrooms','price']]

In [7]:
from sklearn.linear_model import LinearRegression

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [12]:
y_test.head()

       sqft_lot15
12316        9472
5307        31866
17390        7500
10987        7590
10906        9000

In [15]:
y_pred[0:5]

array([[13130.37075988],
       [16908.70238822],
       [11400.76636594],
       [ 9890.3673551 ],
       [11609.85457751]])

In [16]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_squared_error(y_test,y_pred)

754597017.4229589

In [19]:
x=Iris[['bedrooms','price']]

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [21]:
lr2=LinearRegression()

In [22]:
lr2.fit(x_train,y_train)
y_pred2=lr.predict(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- bedrooms
Feature names seen at fit time, yet now missing:
- bathrooms

  warnings.warn(message, FutureWarning)

In [24]:
y_test.head()

       sqft_lot15
12954        5150
10916        7865
15689        8470
6725         3760
9868         4620

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
mean_squared_error(y_test,y_pred2)

753200923.0638986