In [3]:
import pandas as pd

In [ ]:
from matplotlib import pyplot as plt

In [1]:
import seaborn as sns

In [5]:
churn=pd.read_csv('churn_data.csv')

In [7]:
churn.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
x=churn[['tenure']]
y=churn[['Churn']]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [11]:
from sklearn.svm import SVC

In [14]:
svc=SVC()

In [15]:
svc.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [16]:
y_pred=svc.predict(x_test)

In [17]:
y_test.head(),y_pred[0:5]

(     Churn
 6690    No
 6152   Yes
 5135    No
 3595   Yes
 2731    No,
 array(['No', 'No', 'Yes', 'Yes', 'No'], dtype=object))

In [18]:
from sklearn.metrics import confusion_matrix

In [19]:
confusion_matrix(y_test,y_pred)

array([[1139,  149],
       [ 304,  169]], dtype=int64)

In [20]:
(1139+169)/(1139+149+304+169)

0.7427597955706985